

:root {
  --mainNavColor: #0260ff;
  --sidebarColor: #effcff;
  --inlineCodeBackgroundColor: rgb(0 0 0 / 0%);
}

.highlight {
    background: #f8f8f8;
}

div.document div.documentwrapper {
    max-width: 55rem;
}

div.document div.highlight {
    border-radius: 0.5rem;
    border: 1px solid rgb(0 0 0 / 6%);
}

h1, h2, h3 {
    color: #0260ff;
}
/*
#toggle_sidebar {
    display: none;
}*/